.git
.gitignore

.env
.env.*
credentials.json
token.json

.venv
venv

__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.coverage
htmlcov

data
*.db
*.sqlite
*.sqlite3

logs
*.log

.vscode
.idea
.DS_Store
Thumbs.db

current_packages.txt